.container {
  width: 1200px;
  /*background-image: url("https://www.bankjoy.com/assets/images/backgrounds/background.jpg");
  background-position: center top fixed;
  background-size: cover;
  background-repeat: no-repeat;*/
}
.title h1,
.sub-title h2,
.sub-title h4,
.demo {
  text-align: center;
}
.sub-title h2,
.sub-title h4,
.contact,
.demo {
  font-family: "Source Sans Pro";
}
.title h1 {
  font-size: 53px;
  font-family: "Arvo", serf;
  font-weight: 400;
  margin-top: 100px;
  letter-spacing: -.7px;
}
.sub-title h2 {
  font-size: 60px;
  font-weight: 200;
}
.sub-title h4 {
  margin-top: -20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
.contact {
  position: absolute;
  right: 55px;
  top: 30px;
}
.contact ul li {
  list-style-type: none;
  display: inline;
  margin: 8px;
  font-size: 16px;
  letter-spacing: .3px;
}
.demo {
  text-decoration: none;
  margin: 45px auto;
  font-size: 18px;
  font-weight: 400;
  background-color: #5170DD;
  padding-top: 13px;
  padding-bottom: 17px;
  width: 202px;
  border-radius: 50px;
}
.phones {
  position: relative;
  margin-top: 70px;
}
.phone-1,
.phone-2,
.phone-3 {
  position: absolute;
  background-position: center;
  background-size: cover;
}
.phone-1 {
  z-index: 5;
  margin: 0 auto;
  right: 40%;
  top: 50px;
  left: 0;
  background-image: url("https://www.bankjoy.com/assets/images/phones/header-phone-left@2x.png");
  width: 310px;
  height: 632.4px;
}
.phone-2 {
  z-index: 7;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 0;
  background-image: url("https://www.bankjoy.com/assets/images/phones/header-phone-center@2x.png");
  width: 330px;
  height: 673.2px;
}
.phone-3 {
  z-index: 6;
  margin: 0 auto;
  left: 40%;
  top: 50px;
  right: 0;
  background-image: url("https://www.bankjoy.com/assets/images/phones/header-phone-right@2x.png");
  width: 310px;
  height: 632.4px;
}
i {
  margin-right: 10px;
}
a {
  text-decoration: none;
}
/*a:hover,
a:link,
a:visited,
a:active {
  color: #fff;
}*/
