.title h1,
.sub-title h2,
.sub-title h4 {
  text-align: center;
}
.sub-title h2,
.sub-title h4 {
  font-family: "Source Sans Pro";
}
.sub-title h2 {
  font-size: 60px;
  font-weight: 200;
}
.sub-title h4 {
  margin-top: -20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
.title h1 {
  text-align: center;
  font-size: 50px;;
  font-family: "Arvo", serf;
  margin: 50px;
}
